*
!*/
!build/debian/cmdevcenter.install
!build/debian/rules
!build/debian/dirs
!build/debian/compat
!build/debian/control
!build/debian/changelog
!CLocale/de_DE.py
!CLocale/CCommon.py
!CLocale/en_US.py
!CLocale/__init__.py
!cmdevcenter
!cmdevcenter.png
!desktop/cmdevcenter.desktop
!Helper.py
!images/icon_twitter.png
!images/icon_googleplus.png
!images/icon_gmail.png
!images/icon_sync.png
!images/icon_about.png
!images/icon_compile.png
!images/icon_contribute.png
!images/icon_settings.png
!images/icon_youtube.png
!images/icon_xda.png
!layout.glade
!README.md
!scripts/sync.sh

build/debian/cmdevcenter
